@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

#intro {
  display: none;
  line-height: 1.7;
}

#intro input {
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 5px;
  background-color: #e6e6e6;
}

#main {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to bottom right, #006eff, #c829f0);
  padding-top: 7%;
}

.header h1 {
  color: white;
}

.header i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: white;
}

.header i:hover {
  color: grey;
  cursor: pointer;
}

.sidebar {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: lightgrey;
  text-align: center;
}

.sidebar #closeSideBar {
  position: absolute;
  right: 10px;
  top: 0;
}

.sidebar #closeSideBar:hover h1 {
  color: white;
}

.sidebar a {
  cursor: pointer;
}

#addVacation {
  margin: 20px 0px;
}

#addVacation #city {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #010146;
}

#addVacation #add-vacation {
  margin-left: 10px;
  border: none;
  background-color: #6767c5;
  color: white;
  padding: 10px;
}

#addVacation #add-vacation:hover {
  background-color: #9e9efc;
}

.title {
  text-align: center;
  margin: 30px 0px 10px 0px;
  border: none;
  border-bottom: 5px solid black;
  padding: 5px;
}

.vacations .vacation {
  position: relative;
  text-align: center;
  width: 46%;
  float: left;
  font-size: 40px;
  padding: 20px;
  background-color: #3e3ef5;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  transition: 0.2s;
}

.vacations .vacation:nth-child(2n) {
  float: right;
}

.vacations .vacation:hover {
  background-color: #6c6cfd;
}

.vacations i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #c2c2c2;
}

.vacations i:hover {
  color: white;
}

#vacationInfo {
  display: none;
}

#vacationInfo #categories {
  float: left;
}
